{% extends 'base.html.twig' %}

{% block body %}
    <h1>Groupofuser</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ groupOfUser.id }}</td>
            </tr>
            <tr>
                <th>Groupname</th>
                <td>{{ groupOfUser.groupName }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('groupofusers_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('groupofusers_edit', { 'id': groupOfUser.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
